*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

* body {
    color: rgba(0, 0, 0, 0.9);
}

body {
    padding: 0;
    margin: 0; 
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    user-select: none;
}

.app-boas-vindas {
    display: flex;
    align-items: flex-start;
}

.titulo {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    margin: 0 auto;
    width: 310px;
    animation: topbottom;
    animation-duration: 1s;
    padding: 20px;
}

#data-hora {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
    width: 310px;
    justify-content: space-between;
    animation: fromright;
    animation-duration: 1s;
}

#data {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    letter-spacing: 8px;
    text-indent: 8px;
    font-weight: 500;
}

#relogio {
    text-align: center;
    margin: 0 auto;
    padding: 12px;
    font-size: 24px;
    background-color: transparent !important;
    font-weight: 400;
}

#dia-semana {
    font-family: 'Inter', cursive;
    font-size: 32px;
    display: flex;
    margin: 0 auto;
    padding: 12px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.486);
}

#horas, #minutos, #segundos {
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 12px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.199), 1px 1px 3px rgba(0, 0, 0, 0.199);
}

.pontos {
    align-items: center;
}

.textinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    animation: appear;
    animation-duration: 2s;
}

.textinho box-icon {
    margin-bottom: 32px;
}

.titulo-cor {
    color: rgba(82, 219, 123, 0.712);
    margin-right: 8px;
}

#main-header {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    animation: appear;
    animation-duration: 1s;
    margin-top: 40px;
    margin-bottom: 16px;
}

.primeiro-titulo-header {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}
#todo-form { 
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

#todo-form input { 
    padding: 12px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.877);
    width: 808px;
}

#todo-form input:focus {
    outline: 2px solid rgba(82, 219, 123, 0.712);
}

#todo-form button {
    width: 80px;
    padding: 12px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#todo-form button:hover {
    transition: all .2s ease-out;
    transform: scale(1.1);
    border: 1px solid black;
    background-color: rgb(173, 202, 230);
}

.todos {
    display: grid;
    grid-template-columns: 49% 49%;
    width: 1000px;
    height: auto;
    max-height: 392px;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.060), 4px 4px 20px rgba(0, 0, 0, 0.060);
    justify-content: space-between;
    gap: 16px;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0;
    animation: appear;
    animation-duration: 1s; 
}
.todos::-webkit-scrollbar {
    width: 12px;
}
.todos::-webkit-scrollbar-thumb {
    background-color: rgba(82, 219, 123, 0.712);
    border-radius: 0px 4px 4px 0px;
}
.todos::-webkit-scrollbar-track {
    background: transparent;
}
.tarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.todos li {
    background-color: rgba(255, 255, 255, 0.877);
    list-style: none;
    border-radius: 0px;
    padding: 20px;
    width: 492px;
    margin: 0 auto;
    height: 120px;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.todos li div{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 8px;
    margin: 0 auto;
}
.todos li.complete {
    background-color: rgb(173, 202, 230);
    text-decoration: line-through;
    color: rgb(66, 118, 197);
}
.todos li span::-webkit-scrollbar {
    width: 16px;
}
.todos li span::-webkit-scrollbar-thumb {
    background-color: rgba(82, 219, 123, 0.712);
    border-radius: 8px;
}
.todos li span::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 28px;
    height: 28px;
    border: 2px solid rgba(0, 0, 0, 0.603);
    border-radius: 4px;
    display: grid;
    transition: all .2s ease-in-out;
}

input[type="checkbox"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
    transform: scale(0);
    transition: all .2s ease-in-out;
}
input[type="checkbox"]:checked {
    background-color: rgba(82, 219, 123, 0.712);
    border-color: darkblue;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.todos li button {   
    padding: 0;
    display: grid;
    place-content: center;
    background-color: transparent;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    border: none;
}
.todos li button:hover {
    transform: scale(.8);
}
.todos li span {
    padding: 4px;
    border-radius: 4px;
    transition: all .2s ease-in-out;    
    width: 340px;
    font-weight: 500;
    max-height: 80px;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.todos li span:focus {
    background-color: rgba(82, 219, 123, 0.274);
    outline: none;
    border-radius: 4px;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    margin-top: 16px;
    list-style: none;
    padding: 0;
    animation: appear;
    animation-duration: 1s;
}
.stats #remaining-tasks {
    background-color:rgba(243, 131, 3, 0.856) ;
    padding: 4px 8px;
    border-radius: 4px;
}
.stats #completed-tasks {
    background-color: rgba(82, 219, 123, 0.712);
    padding: 4px 8px;
    border-radius: 4px;
}
.stats #total-tasks {
    background-color:rgba(183, 31, 221, 0.541) ;
    padding: 4px 8px;
    border-radius: 4px;
}
.resetar {
    width: 80px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.877);
    border: none;
    border-radius: 4px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}
.resetar:hover {
    transition: all .2s ease-out;
    transform: scale(1.1);
    border: 1px solid black;
    background-color: #f07a7a;
}

@media (min-width: 800px) and (max-width: 1200px) {
    
    #todo-form {
        width: 800px;
    }

    #todo-form input {
        width: 608px;
    }
    
    .todos {
        display: grid;  
        grid-template-columns: 50% 50%;
        width: 800px;
        height: auto;
        max-height: 800px;
    }

    .todos li {  
        align-items: center;
        overflow: hidden;
        max-width: 400px;
        height: 80px;
    }

    .todos li input[type=checkbox] {
        width: 24px;
        height: 24px;
    }

    input[type="checkbox"]::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
    }

    .todos li span {
        border-radius: 4px;
        transition: all .2s ease-in-out;
        width: 260px;
        max-height: 60px;
        overflow-y: auto;
        font-size: 16px;
    }

    .todos li span::-webkit-scrollbar {
        width: 8px;
    }

    #todo-form button:hover {
        transform: scale(1);
        border: none !important;
        background-color: #ffffffe0 !important;
    }
    
    #data {
        font-size: 16px !important;
    }

    #dia-semana {
        font-size: 24px;
    }

    #horas, #minutos, #segundos {
        font-size: 16px;
    }

    .textinho {
        font-size: 36px;
    }
    #main-container {
        width: 800px;
        margin: 0 auto;
    }
    .stats {       
        width: 800px;
    }
    
    .resetar:hover {
        transition: all .2s ease-out;
        transform: scale(1);
        border: none;
        background-color: #ffffffe0;
    }
}
@media (min-width: 360px) and (max-width: 800px) {
    .todo-form {
        width: 200px;
        margin-right: 52px;
    }
    .botao-add:focus {
        outline:0;
    }
    .botao-add:active {
        background-color: none;
    }
    
    .resetar:focus {
        outline:0;
    }
    #data {
        font-size: 16px !important;
        height: 32px !important;
    }
    .textinho {
        font-size: 24px !important;;
        height: 24px;
        margin-bottom: 0 !important;
        margin-top: 20px !important;
        gap: 16px !important;
    }
    #relogio {
        display: none !important;
    }
    #data-hora {
        animation: none !important;
    }
    #main-header {
        width: 360px;
        justify-content: center;
        margin: 0 auto;
        gap: 12px;
    }
    .stats {
        margin: 12px 0;
        justify-content: center;
        font-size: 12px;
        width: 400px;
        gap: 12px;
    }
    .stats li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    .stats #remaining-tasks {
        padding: 4px 8px;
    }
    .stats #completed-tasks {
        padding: 4px 8px;
    }
    .stats #total-tasks {
        padding: 4px 8px;
    }
    .primeiro-titulo-header {
        font-size: 20px;
    }

    .todos ul {
        margin: 0 auto;
    }
    .todos {
        display: grid;  
        grid-template-columns: 100%;
        width: 360px;
        max-height: 320px;
    }
    .todos li {  
        align-items: center;
        overflow: hidden;
        max-width: 360px;
        height: 92px;
    }

    .todos li button {
        padding: 0;
        margin: 0;
    }

    .todos li span {
        border-radius: 4px;
        transition: all .2s ease-in-out;
        width: 192px;
        overflow-y: auto;
        font-size: 12px;
    }

    .todos li div {
        width: 400px;
        gap: 4px;
    }

    .todos li span::-webkit-scrollbar {
        width: 8px;
    }
    
    .todos span::-webkit-scrollbar-thumb {
        background-color: rgba(82, 219, 123, 0.712);
        border-radius: 4px 4px 4px 4px;
    }
    
    .todos span::-webkit-scrollbar-track {
        background: transparent;
    }
    #todo-form input {
        width: 200px;
        padding: 12px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
    }
    
    #todo-form button {
        width: 80px;
        padding: 12px;
        font-size: 12px;
        background-color: white;
        color: black;
    }
    #todo-form button:hover {
        transform: scale(1);
        border: none !important;
        background-color: #ffffffe0 !important;
    }
    .resetar:hover {
        transition: all .2s ease-out;
        transform: scale(1);
        border: none;
        background-color: #ffffffe0;
    }
    #remaining-tasks {
        padding: 0;
    }

}
@keyframes appear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes topbottom{
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes fromright {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}